

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter


! XTerm
XTerm*renderFont: true
XTerm*faceName: xft:Mononoki Nerd Font, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()


! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! I like a LOT of scrollback...
XTerm*savelines: 16384

! double-click to select whole URLs :D
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48


! urxvt
URxvt.intensityStyles: true
URxvt.font: xft:JetBrains Mono:style=Medium:size=10, \
            xft:fontawesome:size=10, \
            xft:Monospace:style=Medium:size=10
URxvt.scrollBar: false
URxvt.cursorColor: white

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.keysym.C-k:   font-size:increase
URxvt.keysym.C-j:   font-size:decrease
!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!!clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32


! COLORS FOR SXIV
Sxiv.foreground:   #bbc2cf
Sxiv.background:   #282c34
Sxiv.font: JetBrains Mono:style=Medium:size=11


! dwm
dwm.font: Segoe UI:size=11
dwm.normbgcolor: #1f2937
dwm.normbordercolor: #1f2937
dwm.normfgcolor: #eeeeee
dwm.selbgcolor: #3f51b4
dwm.selbordercolor: #536dfe
dwm.selfgcolor: #eeeeee
dwm.borderpx: 2
dwm.snap: 32
dwm.showbar: 1
dwm.topbar: 1
dwm.nmaster: 1
dwm.resizehints: 1
dwm.mfact: 0.55


! dmenu
dmenu.font: Segoe UI:size=11
dmenu.background: #1f2937
dmenu.foreground: #eeeeee
dmenu.selbackground: #3f51b4
dmenu.selforeground: #eeeeee


! special
*.foreground:   #d8dee9
*.background:   #191919
*.cursorColor:  #d8dee9

! black
*.color0:       #191919
*.color8:       #36393d

! red
*.color1:       #b02626
*.color9:       #ce2727

! green
*.color2:       #40a62f
*.color10:      #47c930

! yellow
*.color3:       #f2e635
*.color11:      #fff138

! blue
*.color4:       #314ad0
*.color12:      #2e4bea

! magenta
*.color5:       #b30ad0
*.color13:      #cc15ed

! cyan
*.color6:       #32d0fc
*.color14:      #54d9ff

! white
*.color7:       #acadb1
*.color15:      #dbdbdb
